
.admin--body{
    display: flex;
}
.admin--nav{
    height: 100px;
    color: red;
    position: fixed;
}

/* Admin Sidebar */
.admin--sidebar{
    margin-left: 10px;
    margin-top: 7%;
    width: 15%;
    height: 20%;
    position:fixed;
}
.sidebar--para{
    color:black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.sidebar--para:hover{
    color: rgb(150, 56, 245);
}


.admin--sideBar{
    /* background-color: rgb(226, 202, 248); */
    border-radius: 5px;
}

/* admin Outlet */
.admin--outlet{
    /* border: 1px solid black; */
    width: 80%;
    margin-left: 270px;
    margin-bottom: 35px;
    margin-top: 10%;
}

.admin--currentUser{
    border: 0px solid;
    padding-left: 30px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 2%;
    width: 15%;
    height: 15%;
    background-color: rgb(226, 202, 248);
    border-radius: 10px;
}
.admin--sections{
    /* border: 1px solid rgb(192, 190, 190); */
    border-radius: 5px;
    padding-left: 10px;
    font-weight: bold;
}

#drop--icon{
    margin-left:84% ;
    margin-top: -30px;
}
.admin--ids{
    width: 2%;
    align-items: center;
}
.admin--name{
    width: 10%;
}
.adminphone--no{
    width: 12%;
}
.admin--duration{
    width: 8%;
}
.admin--table--big{
    width: 15%;
}
.admin--purpose{
    /* color: orange; */
    height: 1px;
    overflow-y:auto;
    width: 25%;
}

/* ADMIN MEMBERS SECTION */
.members-section{
    margin: 10px;
}

.admin--members--table{
    width: 100%;
    margin: 0px;
    border: 0px;
}
/* .admin--table--head{ */
    /* width: 20%; */
/* } */
.admin--email{
    width: 21%;
}

.admin--table--date{
    width: 15%;
}

.button--moredetails{
    border: 0px;
}

.admin--btn{
    border-radius: 5px;
    background-color: rgb(226, 202, 248);
    margin-left: 5px;
    height: 35px;
    border-color:rgb(85, 12, 153);
}
.admin--btn:hover{
    background-color: rgb(199, 161, 235);
}

#more--info--icon{
    position: relative;
    top: 10px;
    left: 13px;
    margin-right: -5px;
}



/* APPLIED LOANS */
.applied--loansadmin{
    margin: 10px;
}

.reject-approve-btn{
    width:100px;
    height: 25px;
}



/*  WOW STYLES*/
.current--user--position{
    background-color: rgb(210, 179, 240);
    margin:20px;
    width: 12%;
    height: 120px;
    border-radius: 5px;
    padding: 15px;
}
.savings--table--admin{
    width:85%;
}
.approved--loan{
    width: 95%;
}

.date--savings--admin{
    width: 20%;
}

/* //EVALUTIONSECTION */
.member--inquestion{
    margin: 20px;
    border: 1px solid white;
    width: 20%;
    background-color: rgb(224, 209, 238);
    border-radius: 10px;
    
}
.loan--radios{
    /* color: blue; */
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.bottom--buttons{
    /* background-color: red; */
    margin-left: 15%;
}

.bottom--buttons button{
    margin: 10px;
    border-radius: 5px;
    height: 25px;
}
.bottom--buttons button:hover{
    background-color: rgb(150, 56, 245);
}

.moredetails--all{
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 5%;
}

.moredetails--savings{
    /* margin-top: 2%; */
    margin-bottom: 2%;
    /* color: white; */
    border: 0px solid white;
}
.moredetails--fieldset{
    border: 0px solid white;
    margin-bottom: 2%;
}

.deactivate{
    border-radius: 5px;
    border: 1px solid red;
    margin: 2%;
    width: 22%;
}
.deactivate > button{
    height: 30px;
    border-radius: 5px;

}

/* GROUP ACCOUNTS STYLING */
.group--account{
    margin: 2%;
    /* position: absolute;
     */
    display: flex;
}

.admin--cards{
    border: 1px solid black;
    border-radius: 6px;
    height: 170px;
    width: 280px;
    margin-right: 2%;
    padding-left: 15px;
}

#eye--accounts{
    color: rgb(173, 172, 172);
    /* text-decoration: line-through; */
}

.total--balance{
    font-size: 25px;
}

#total--value{
filter: blur(6px);
}

.admin--user--component{
    display: flex;
    width: 95%;
}
.user--component{
    background-color: rgb(210, 179, 240);
    margin:20px;
    margin-right: auto;
    width: 12%;
    height: 120px;
    border-radius: 5px;
    padding: 15px;
}
.notif--btn{
    background-color: rgb(210, 179, 240);
    border-radius: 5px;
    margin-left: auto;
    height: 40px;
    margin: 20px;
    margin-right: 0px;
}
.notif--btn:hover{
    border: 1px solid black;
    background-color: none;
}

.search--members{
    color:black;
    font-size: 15px;
    border: 1px solid purple;
    height: 35px;
    margin-bottom: 5px;
}

.messages--component{
    margin-left: 2%;
    /* border: 1px solid black; */
}

.messages--table{
    width: 90%;
}

.message--col{
    width: 30%;
}